span.tag{
	float: left;
	font-family: "Lucida Grande","Verdana";
}
span.tag label {
	background: #656696;
/*	border: 1px solid transparent;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 3px 0 3px 5px;
	padding:1px 21px 1px 1px;
	position: relative;
	display: inline-block;
	min-width: 20px;
	height: 20px;
}
span.tag small {
	color: #FFF;
	border: none;
	font-size: 8px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 3px;
	bottom:0;
	z-index: 199;
	height: 100%;
	line-height: 22px;
	cursor: pointer;
}
span.tag input {
	border: none;
	background: transparent;
	color: #fff;
	position: absolute;
	top: 3px;
	left:0;
	height: 15px;
	z-index: 0;
	/*line-height: 20px;*/
	text-align: center;
	padding: 0;
	width: 100%;
	_width:expression(this.parentNode.offsetWidth);
}
span.tag input, span.tag label span {
	font-family: "Lucida Grande","Verdana";
	font-size: 11px;
}
span.tag label span {
	display: inline-block;
	visibility: hidden;
	margin-left: 5px;

}